# Organize data
1. Add baseline variables from flat, labels (all found in labels) to ltm.parquet. This is a bit time consuming. So, once done and stored as ltm.parquet, need not come back to this.

In [1]:
import pandas as pd
import numpy as np

In [2]:
ltm = pd.read_parquet('../Dataset/mimic-iv/from_pipeline/mimic4_ltm.parquet')

In [3]:
ltm.patient.isna().sum()

0

In [4]:
flat = pd.read_parquet('../Dataset/mimic-iv/from_pipeline/preprocessed_flat.parquet')

In [5]:
labels = pd.read_parquet('../Dataset/mimic-iv/from_pipeline/preprocessed_labels.parquet')

In [6]:
diag = pd.read_parquet('../Dataset/mimic-iv/from_pipeline/diagnoses.parquet')

In [7]:
ltm

,patient,time,value,variable
0,mimic4-39243046,0 days 14:10:00,95.0,O2_pulseoxymetry_saturation
1,mimic4-37320744,0 days 09:56:00,96.0,O2_pulseoxymetry_saturation
2,mimic4-36514617,2 days 22:59:27,4.0,glasgow_coma_score_motor
3,mimic4-31332266,2 days 05:35:50,98.0,O2_pulseoxymetry_saturation
4,mimic4-37934184,1 days 01:30:00,96.0,O2_pulseoxymetry_saturation
...,...,...,...,...
78385965,mimic4-35762379,0 days 03:52:05,95.0,invasive_systolic_blood_pressure
78385966,mimic4-39395470,0 days 11:09:19,98.0,invasive_systolic_blood_pressure
78385967,mimic4-30374531,4 days 05:51:15,119.0,invasive_systolic_blood_pressure
78385968,mimic4-38572808,5 days 04:33:51,81.0,heart_rate
78385969,mimic4-38942593,0 days 21:32:00,13.0,respiratory_rate

In [8]:
ltm.patient.nunique()

94433

In [9]:
flat

                      age  sex    height    weight  from_US source_dataset
patient
mimic4-30000153  0.068966  1.0       NaN -0.359809        0         mimic4
mimic4-30000213  0.172414  1.0 -0.526810 -0.034147        0         mimic4
mimic4-30000484  1.103448  1.0 -0.358982 -0.487352        0         mimic4
mimic4-30000646 -0.551724  1.0  0.083914 -0.267472        0         mimic4
mimic4-30000831  0.655172  1.0  0.862466       NaN        0         mimic4
...                   ...  ...       ...       ...      ...            ...
mimic4-39999384  0.758621  0.0       NaN -0.529054        0         mimic4
mimic4-39999552  0.448276  0.0  0.251742 -0.597479        0         mimic4
mimic4-39999562  0.344828  1.0       NaN -0.665988        0         mimic4
mimic4-39999810 -0.137931  1.0       NaN -0.387644        0         mimic4
mimic4-39999858  0.103448  1.0       NaN  1.054177        0         mimic4

[94458 rows x 6 columns]

In [10]:
flat.index.nunique()

94458

In [11]:
flat.columns

Index(['age', 'sex', 'height', 'weight', 'from_US', 'source_dataset'], dtype='object')

In [12]:
labels

,source_dataset,original_uniquepid,care_site,unit_type,discharge_location,origin,age,sex,raw_height,raw_weight,lengthofstay,mortality,intime,outtime,death_time_from_intime,from_US,uniquepid,weight,height,raw_age
patient,,,,,,,,,,,,,,,,,,,,
mimic4-30000153,mimic4,12466550,Beth Israel Deaconess Medical Center,Trauma,Rehabilitation,Emergency,0.068966,1.0,NaN,73.0000,1 days 15:17:10,0,2174-09-29 12:09:00,2174-10-01 03:26:10,NaT,0,mimic4-12466550,-0.359809,NaN,61.0
mimic4-30000213,mimic4,13180007,Beth Israel Deaconess Medical Center,Medical,Home,Other,0.172414,1.0,160.01,84.7000,1 days 15:14:48,0,2162-06-21 05:38:00,2162-06-22 20:52:48,1363 days 18:22:00,0,mimic4-13180007,-0.034147,-0.526810,64.0
mimic4-30000484,mimic4,18421337,Beth Israel Deaconess Medical Center,Medical,Hospital,Emergency,1.103448,1.0,162.78,68.4178,2 days 11:29:35.999999,0,2136-01-14 17:23:32,2136-01-17 04:53:08,37 days 06:36:28,0,mimic4-18421337,-0.487352,-0.358982,91.0
mimic4-30000646,mimic4,12207593,Beth Israel Deaconess Medical Center,Cardiac,Death,Emergency,-0.551724,1.0,170.09,76.3174,4 days 16:44:26,1,2194-04-29 01:39:22,2194-05-03 18:23:48,6 days 22:20:38,0,mimic4-12207593,-0.267472,0.083914,43.0
mimic4-30000831,mimic4,15726459,Beth Israel Deaconess Medical Center,Cardiac,Rehabilitation,Other,0.655172,1.0,182.94,NaN,2 days 16:55:24,0,2140-04-17 21:26:33,2140-04-20 14:21:57,NaT,0,mimic4-15726459,NaN,0.862466,78.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
mimic4-39999384,mimic4,15498623,Beth Israel Deaconess Medical Center,Surgical,Rehabilitation,Other,0.758621,0.0,NaN,66.9196,1 days 06:37:06,0,2158-05-24 19:50:01,2158-05-26 02:27:07,NaT,0,mimic4-15498623,-0.529054,NaN,81.0
mimic4-39999552,mimic4,11256534,Beth Israel Deaconess Medical Center,Cardiac,Home,Other,0.448276,0.0,172.86,64.4613,1 days 04:01:21.999999,0,2186-07-17 14:27:43,2186-07-18 18:29:05,NaT,0,mimic4-11256534,-0.597479,0.251742,72.0
mimic4-39999562,mimic4,15403458,Beth Israel Deaconess Medical Center,Neurological,Home,Other,0.344828,1.0,NaN,62.0000,4 days 23:54:40,0,2129-01-24 17:24:09,2129-01-29 17:18:49,NaT,0,mimic4-15403458,-0.665988,NaN,69.0
mimic4-39999810,mimic4,17840864,Beth Israel Deaconess Medical Center,Neurological,Home,Other,-0.137931,1.0,NaN,72.0000,4 days 17:50:57,0,2115-12-01 00:37:00,2115-12-05 18:27:57,NaT,0,mimic4-17840864,-0.387644,NaN,55.0
mimic4-39999858,mimic4,10826461,Beth Israel Deaconess Medical Center,Medical-Surgical,Home,Direct Admit,0.103448,1.0,NaN,123.8000,3 days 21:35:50,0,2167-04-26 12:36:00,2167-04-30 10:11:50,NaT,0,mimic4-10826461,1.054177,NaN,62.0

In [13]:
labels.unit_type.unique()

array(['Trauma', 'Medical', 'Cardiac', 'Medical-Surgical', 'Neurological',
       'Surgical', None, 'Other'], dtype=object)

In [14]:
labels.mortality.mean()

0.12015922420546699

In [15]:
labels.index.nunique()

94458

In [16]:
labels.columns

Index(['source_dataset', 'original_uniquepid', 'care_site', 'unit_type',
       'discharge_location', 'origin', 'age', 'sex', 'raw_height',
       'raw_weight', 'lengthofstay', 'mortality', 'intime', 'outtime',
       'death_time_from_intime', 'from_US', 'uniquepid', 'weight', 'height',
       'raw_age'],
      dtype='object')

In [17]:
diag

,source_dataset,uniquepid,patient,diagnosis_name,diagnosis_concept_id,diagnosis_start,diagnosis_source_value
0,mimic4,mimic4-10000032,mimic4-39553978,needs omopization,-1,2180-07-23 23:50:47,Other iatrogenic hypotension
1,mimic4,mimic4-10000032,mimic4-39553978,needs omopization,-1,2180-07-23 23:50:47,Chronic hepatitis C with hepatic coma
2,mimic4,mimic4-10000032,mimic4-39553978,needs omopization,-1,2180-07-23 23:50:47,Cachexia
3,mimic4,mimic4-10000032,mimic4-39553978,needs omopization,-1,2180-07-23 23:50:47,Hyposmolality and/or hyponatremia
4,mimic4,mimic4-10000032,mimic4-39553978,needs omopization,-1,2180-07-23 23:50:47,Other ascites
...,...,...,...,...,...,...,...
1759237,mimic4,mimic4-19999987,mimic4-36195440,needs omopization,-1,2145-11-04 21:29:30,Coronary atherosclerosis of native coronary ar...
1759238,mimic4,mimic4-19999987,mimic4-36195440,needs omopization,-1,2145-11-04 21:29:30,Other convulsions
1759239,mimic4,mimic4-19999987,mimic4-36195440,needs omopization,-1,2145-11-04 21:29:30,Friedländer's bacillus infection in conditions...
1759240,mimic4,mimic4-19999987,mimic4-36195440,needs omopization,-1,2145-11-04 21:29:30,Homonymous bilateral field defects
1759241,mimic4,mimic4-19999987,mimic4-36195440,needs omopization,-1,2145-11-04 21:29:30,Abnormal involuntary movements

In [18]:
diag.diagnosis_source_value.nunique()

17557

# Remove patients who are < 18 years old

In [19]:
labels.raw_age.describe()

count    90452.000000
mean        63.014638
std         16.750646
min         18.000000
25%         53.000000
50%         65.000000
75%         76.000000
max         91.000000
Name: raw_age, dtype: float64

In [20]:
labels.raw_age.min()

18.0

Add labels - age, sex, height, weight, unit_type, origin into LTM

In [21]:
# Select the needed columns from labels
cols = ["original_uniquepid", "raw_age", "sex", "raw_height", "raw_weight", "unit_type", "origin", "lengthofstay", "intime", "outtime",
       "death_time_from_intime", "mortality"]
labels_subset = labels[cols]

# Merge into ltm based on 'patient'
ltm = ltm.merge(labels_subset, how="left", left_on="patient", right_index=True)

In [22]:
ltm

,patient,time,value,variable,original_uniquepid,raw_age,sex,raw_height,raw_weight,unit_type,origin,lengthofstay,intime,outtime,death_time_from_intime,mortality
0,mimic4-39243046,0 days 14:10:00,95.0,O2_pulseoxymetry_saturation,10064390,74.0,1.0,175.13,84.6000,Surgical,Emergency,6 days 03:08:32,2137-11-16 15:50:00,2137-11-22 18:58:32,NaT,0
1,mimic4-37320744,0 days 09:56:00,96.0,O2_pulseoxymetry_saturation,10063991,35.0,1.0,NaN,58.0000,Neurological,Other,4 days 00:34:50,2148-01-26 18:04:00,2148-01-30 18:38:50,NaT,0
2,mimic4-36514617,2 days 22:59:27,4.0,glasgow_coma_score_motor,10066209,82.0,0.0,149.93,75.3186,Medical-Surgical,Emergency,3 days 16:16:17,2121-07-04 01:00:33,2121-07-07 17:16:50,160 days 22:59:27,0
3,mimic4-31332266,2 days 05:35:50,98.0,O2_pulseoxymetry_saturation,10063848,75.0,0.0,149.93,85.5000,Surgical,Emergency,2 days 16:17:38,2177-07-27 18:24:10,2177-07-30 10:41:48,NaT,0
4,mimic4-37934184,1 days 01:30:00,96.0,O2_pulseoxymetry_saturation,10066489,91.0,0.0,NaN,56.8000,Surgical,Emergency,1 days 21:48:43,2141-07-19 18:30:00,2141-07-21 16:18:43,NaT,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78385965,mimic4-35762379,0 days 03:52:05,95.0,invasive_systolic_blood_pressure,10055729,62.0,1.0,185.21,132.7000,Surgical,Other,10 days 20:52:52,2141-11-30 00:07:55,2141-12-10 21:00:47,NaT,0
78385966,mimic4-39395470,0 days 11:09:19,98.0,invasive_systolic_blood_pressure,10055828,75.0,1.0,165.05,74.0020,Cardiac,Other,0 days 23:24:32,2146-11-30 12:50:41,2146-12-01 12:15:13,NaT,0
78385967,mimic4-30374531,4 days 05:51:15,119.0,invasive_systolic_blood_pressure,10056223,48.0,1.0,165.05,104.5000,Surgical,Other,5 days 00:59:08,2122-09-23 15:08:45,2122-09-28 16:07:53,NaT,0
78385968,mimic4-38572808,5 days 04:33:51,81.0,heart_rate,10057482,76.0,0.0,152.20,55.6000,Medical,Other,6 days 15:02:52,2145-07-29 00:26:09,2145-08-04 15:29:01,28 days 23:33:51,0
78385969,mimic4-38942593,0 days 21:32:00,13.0,respiratory_rate,10055694,58.0,0.0,170.09,70.5062,Medical-Surgical,Emergency,3 days 04:01:55,2120-10-12 13:28:00,2120-10-15 17:29:55,568 days 10:32:00,0

In [23]:
ltm.patient.isna().sum()

0

In [25]:
ltm = ltm.rename(columns={"patient": "stay_id", "lengthofstay": "los", "mortality": "icu_mortality", "original_uniquepid": "subject_id"})

In [26]:
ltm.to_parquet('../Dataset/mimic-iv/from_pipeline/ltm.parquet')