# Organize vars
- Rename and subsample to 2000.

In [1]:
import pandas as pd
import numpy as np

In [2]:
ltm = pd.read_parquet("../Dataset/mimic-iv/from_pipeline/ltm.parquet")

In [3]:
ltm

,patient,time,value,variable,age,sex,height,weight,unit_type,origin,lengthofstay,intime,outtime,death_time_from_intime,mortality
0,mimic4-39243046,0 days 14:10:00,95.0,O2_pulseoxymetry_saturation,0.517241,1.0,0.389276,-0.036931,Surgical,Emergency,6 days 03:08:32,2137-11-16 15:50:00,2137-11-22 18:58:32,NaT,0
1,mimic4-37320744,0 days 09:56:00,96.0,O2_pulseoxymetry_saturation,-0.827586,1.0,NaN,-0.777325,Neurological,Other,4 days 00:34:50,2148-01-26 18:04:00,2148-01-30 18:38:50,NaT,0
2,mimic4-36514617,2 days 22:59:27,4.0,glasgow_coma_score_motor,0.793103,0.0,-1.137534,-0.295273,Medical-Surgical,Emergency,3 days 16:16:17,2121-07-04 01:00:33,2121-07-07 17:16:50,160 days 22:59:27,0
3,mimic4-31332266,2 days 05:35:50,98.0,O2_pulseoxymetry_saturation,0.551724,0.0,-1.137534,-0.011880,Surgical,Emergency,2 days 16:17:38,2177-07-27 18:24:10,2177-07-30 10:41:48,NaT,0
4,mimic4-37934184,1 days 01:30:00,96.0,O2_pulseoxymetry_saturation,1.103448,0.0,NaN,-0.810726,Surgical,Emergency,1 days 21:48:43,2141-07-19 18:30:00,2141-07-21 16:18:43,NaT,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78385965,mimic4-35762379,0 days 03:52:05,95.0,invasive_systolic_blood_pressure,0.103448,1.0,1.000000,1.301903,Surgical,Other,10 days 20:52:52,2141-11-30 00:07:55,2141-12-10 21:00:47,NaT,0
78385966,mimic4-39395470,0 days 11:09:19,98.0,invasive_systolic_blood_pressure,0.551724,1.0,-0.221448,-0.331919,Cardiac,Other,0 days 23:24:32,2146-11-30 12:50:41,2146-12-01 12:15:13,NaT,0
78385967,mimic4-30374531,4 days 05:51:15,119.0,invasive_systolic_blood_pressure,-0.379310,1.0,-0.221448,0.516973,Surgical,Other,5 days 00:59:08,2122-09-23 15:08:45,2122-09-28 16:07:53,NaT,0
78385968,mimic4-38572808,5 days 04:33:51,81.0,heart_rate,0.586207,0.0,-1.000000,-0.844128,Medical,Other,6 days 15:02:52,2145-07-29 00:26:09,2145-08-04 15:29:01,28 days 23:33:51,0
78385969,mimic4-38942593,0 days 21:32:00,13.0,respiratory_rate,-0.034483,0.0,0.083914,-0.429223,Medical-Surgical,Emergency,3 days 04:01:55,2120-10-12 13:28:00,2120-10-15 17:29:55,568 days 10:32:00,0

In [4]:
ltm.patient.nunique()

94433

In [5]:
ltm = ltm.rename(columns={"patient": "stay_id", "lengthofstay": "los", "mortality": "icu_mortality"})

In [ ]:
ltm

In [6]:
# pick 1000 unique stay_ids
stay_sample = (
    ltm["stay_id"]
    .drop_duplicates()
    .sample(n=5000, random_state=42)
)

# filter ltm to only those stay_ids
ltm_sub = ltm[ltm["stay_id"].isin(stay_sample)]

In [7]:
ltm_sub.stay_id.isna().sum()

0

In [8]:
ltm_sub.stay_id.nunique()

5000

In [9]:
ltm_sub.to_parquet("../Dataset/mimic-iv/from_pipeline/ltm_5000.parquet")